<title><%- data.title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta property="og:url" content="/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%- data.siteName %>" />
<meta property="og:site_name" content="<%- data.siteName %>" />
<!--<meta property="og:image" content="../assets/1391017.png" />-->
<meta property="og:image:alt" content="<%- data.siteName %>" />
<meta name="description" content="<%- data.siteDescription %>" />

<!--Twitter meta tags-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@kimdennisb" />
<meta name="twitter:description" content="<%- data.siteDescription %>" />
<!--<meta name="twitter:image" content="<%- data.imageURL %>" /> -->

<link href="../assets/index.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="./assets/1391017.png" />
<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
