<title>
    <%- data.title %>
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<meta name="theme-color" content="#4CAF50" />

<meta property="og:url" content="/pages" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%- data.siteName %>" />
<meta property="og:site_name" content="<%- data.siteName %>" />
<meta property="og:image" content="/assets/icons/rel_icon.png" />
<meta property="og:image:alt" content="<%- data.siteName %>" />
<meta name="description" content="<%- data.description %>" />

<!--Twitter meta tags-->
<meta name="twitter:title" content="<%- data.title %>" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@kimdennisb" />
<meta name="twitter:description" content="<%- data.description %>" />
<meta name="twitter:image" content="/assets/icons/rel_icon.png" />

<link href="/assets/index.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="/assets/icons/rel_icon.png" />
<link rel="apple-touch-icon" href="/assets/icons/rel_icon.png" />