<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forbidden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <meta name="theme-color" content="#4CAF50" />

    <meta property="og:url" content="*" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- siteName %>" />
    <meta property="og:site_name" content="<%- siteName %>" />
    <meta property="og:image" content="/assets/icons/rel_icon.png" />
    <meta property="og:image:alt" content="<%- siteName %>" />
    <meta name="description" content="<%- siteDescription %>" />

    <!--Twitter meta tags-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@kimdennisb" />
    <meta name="twitter:description" content="<%- siteDescription %>" />
    <meta name="twitter:image" content="/assets/icons/rel_icon.png" />

    <link href="/assets/styles/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/assets/icons/rel_icon.png" />
    <link rel="apple-touch-icon" href="/assets/icons/rel_icon.png" />
</head>

<body>
    <div class="Error">
        <h1>403</h1>
        <p>Forbidden Page.</p>
        <a class="button" href="#" onclick="history.back(1)"><i class="icon-home"></i> Go back in initial page, is better.</a>
    </div>

</body>

</html>