<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Forgot password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="./assets/index.css" rel="stylesheet" type="text/css">
    <meta property="og:url" content="<%- siteURL %>" />
    <meta property="og:site_name" content="<%- siteName %>" />
    <meta property="og:image" content="./assets/1391017.png" />
    <meta name="description" content="<%- siteDescription %>" />
    <link rel="icon" type="image/png" href="./assets/1391017.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
     <header class="header-outer">
      <div class="header-inner">
        <div class="header-content responsive-wrapper">
    
          <!--sidebar navbar-->
          <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
              <a href="/">#</a>
              <a href="/signin">Write Post</a>
            </div>
        </div>
    
          <!--Toolbar-->
          <div class="header-navigation">
            <div class="open_icon" onclick="openNav()">&#9776;</div>
            <img class="blog_icon" src="./assets/icon.svg" alt="<%- siteName %>" />
            <i class="fa fa-user userIcon"></i>
          </div>
        </div>
      </div>
    </header>
      <div class="wrapper"> 
          <div class="header">
            <!--
              <a href="#" class="logo">
              </a>
            -->
            <h1>Reset Password for <%- siteName %></h1>
          </div>

        <form class="form" method="POST" action="/forgot-password">
            <label for="user">
              Email address
              <input class="field" type="text" name="email" id="user" autofocus required>
            </label>

           <!--
             <label for="password">
              Password <span><a href="/forgot-password">Forgot password?</a></span>
              <input class="field" type="password" name="password" id="password" required>
            </label>
          --> 
            
            <input class="button" type="submit" value="Reset">
          </form>
        </div>
    </div>
</body>
<script>
  // redirect user to signIn or signUp page
document.querySelector(".userIcon").onclick = function () {
  window.location.href = "/signin";
};

function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}

</script>
</html>
