<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <meta name="theme-color" content="#4CAF50" />

    <meta property="og:url" content="/reset" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- siteName %>" />
    <meta property="og:site_name" content="<%- siteName %>" />
    <meta property="og:image" content="/assets/icons/rel_icon.png" />
    <meta property="og:image:alt" content="<%- siteName %>" />
    <meta name="description" content="<%- siteDescription %>" />

    <!--Twitter meta tags-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@kimdennisb" />
    <meta name="twitter:description" content="<%- siteDescription %>" />
    <meta name="twitter:image" content="/assets/icons/rel_icon.png" />

    <link href="/assets/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/assets/icons/rel_icon.png" />
    <link rel="apple-touch-icon" href="/assets/icons/rel_icon.png" />
</head>

<body>

    <div class="wrapper">
        <header class="header">
            <a href="#" class="logo">
                <!--whatspost logo-->
                <img src="../assets/icon.svg" alt="Whatspost" />
            </a>
            <h1>New Password</h1>
        </header>

        <form class="form" method="POST">
            <!--<label for="user">
          Email address
          <input class="field" type="text" name="email" id="user" autofocus required>
        </label>-->
            <label for="password">
        Password
        <input class="field" type="password" name="password" id="password" required>
      </label>
            <label for="password">
        Confirm Password
        <input class="field" type="password" name="passwordConf" id="password" required>
      </label>

            <input class="button" type="submit" value="Reset">
        </form>
    </div>

</body>
<script>
    var setNewPassword = document.querySelector('.button');
    setNewPassword.onclick = function() {
        var newPassword = document.querySelector("input[name='password']").value;
        var confNewPassword = document.querySelector("input[name='passwordConf']").value;
        console.log(newPassword)
        var URL = window.location.href;
        if (newPassword === confNewPassword) {
            //send ajax request
            fetch(URL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'header': newPassword
                    })
                })
                .then((res) => {
                    if (res.ok) return res.json();
                })
                .then((data) => {
                    window.location.reload(true);
                });

        }
    }
</script>

</html>