<!DOCTYPE html>
<html lang="US">
    <head>
        <title><%- siteName %></title>
        <!-- General meta tags-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta property="og:url" content="/page" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%- siteName %>" />
        <meta property="og:site_name" content="<%- siteName %>" />
        <meta property="og:image" content="./assets/1391017.png" />
        <meta property="og:image:alt" content="<%- siteName %>" />
        <meta name="description" content="<%- siteDescription %>" />

        <!--Twitter meta tags-->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@kimdennisb" />
        <meta name="twitter:description" content="<%- siteDescription %>" />
        <meta name="twitter:image" content="./assets/1391017.png" />

        <link href="../assets/index.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="./assets/1391017.png" />
        <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <header class="header-outer">
      <div class="header-inner">
        <div class="header-content responsive-wrapper">

          <!--sidebar navbar-->
          <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <nav>
              <div class="overlay-content">
                <a href="/">#</a>
                <a href="/signin">Login</a>
              </div>
            </nav>
          </div>
          
          <!--search Box-->
          <div id="myOverlay" class="overlaySearch">
            <span class="closebtn" onclick="closeSearch()" title="Close Overlay">X</span>
            <div class="overlay-contentSearch">
              <div class="searchContainer">
                <i class="fa fa-search searchIcon" ></i>
                <input class="searchBox" type="search" name="search" placeholder="Search..." />
              </div>
            </div>
          </div>


          <!--Toolbar-->
          <div class="header-navigation">
            <div class="open_icon" onclick="openNav()">&#9776;</div>
            <img class="blog_icon" src="../assets/icon.svg" alt="<%- siteName %>" />
            <img class="search_icon" src="../assets/search-icon.svg" alt="search icon" onclick="openSearch()"/>
          </div>
        </div>
      </div>
</header>
    <body>
      <main class="main">
        <div class="main-content responsive-wrapper">
         <section class="widget">
        <% for(let i=0;i < data.length;i++) { %>
          <div>
           <% if(data[i]._imageFromSearch == 'noImageFound') { %>
            <div class="article_title onlytext">
              <a href="/article/<%= data[i].title.split(' ').join('-') %>" target="_self"><%= data[i].title%> </a>
            </div>
            <% } else { %>
            <div class="article_image">
              <img class="image" src="<%= data[i]._imageFromSearch %>"  alt=""/>
            </div>
                  
            <div class="article_title">
              <a href="/article/<%= data[i].title.split(' ').join('-') %>" target="_self"><%= data[i].title%> </a>
            </div>
              <% } %>
          </div>
       <% } %>
      </section> 
        </div>
      </main>  
      

      <div class="bottom-toolbar">
        <% if (pages > 0) { %>
          <div class="paginationtext-center">
            <% if(current == 1) { %>
              <span class="disabled">
                <a>First</a>
              </span>
            <%} else { %>
              <span>
                <a href="/page/1">First</a>
              </span>
            <%}%>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if(i !== 1){ %>
              <span class="disabled">
                <a>...</a>
              </span>
            <%}%>
            <% for(; i <= (Number(current) + 4) && i <= pages;i++) { %>
              <% if(i == current) { %>
                <span class="active">
                  <a><%= i %></a>
                </span>
              <%} else {%>
                <span>
                  <a href="/page/<%= i %>"><%= i %></a>
                </span>
                <%}%>
                <% if(i == Number(current) + 4  && i < pages ) { %>
                  <span class="disabled">
                    <a>...</a>
                  </span>
                <%}%>
            <%}%>
            <% if(current == pages) { %> 
              <span class="disabled">
                <a>Last</a>
              </span>
            <%} else {%>
              <span>
                <a href="/page/<%= pages %>">Last</a>
            </span>
              <%}%>
            </div>
        <%}%>
      </div>
    </body>
    <script src="../assets/sidebarhelper.js"></script>
</html>