<!DOCTYPE html>
<html lang="en">

<head>
    <title>Session</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <meta name="theme-color" content="#4CAF50" />

    <meta property="og:url" content="/signin" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- siteName %>" />
    <meta property="og:site_name" content="<%- siteName %>" />
    <meta property="og:image" content="/assets/icons/rel_icon.png" />
    <meta property="og:image:alt" content="<%- siteName %>" />
    <meta name="description" content="<%- siteDescription %>" />

    <!--Twitter meta tags-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@kimdennisb" />
    <meta name="twitter:description" content="<%- siteDescription %>" />
    <meta name="twitter:image" content="/assets/icons/rel_icon.png" />

    <link href="/assets/styles/index.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/assets/icons/rel_icon.png" />
    <link rel="apple-touch-icon" href="/assets/icons/rel_icon.png" />
</head>

<body>

    <div class="wrapper">
        <div class="header">
            <!-- <a href="#" class="logo">
            </a>-->
            <h1>Sign in to
                <%- siteName %>
            </h1>
        </div>
        <div class="wrong-password-or-email">
            <span>Wrong password or email</span>
            <svg class="clearMessage" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
        <title>close</title>
        <g fill="none" stroke="#e00" stroke-width="2">
            <path stroke-linecap="square" d="M8 8 L16.5 16.5 M16.5 8 L8 16.5"></path>
        </g>
    </svg>
        </div>
        <form class="form" method="POST" action="/signin">
            <label for="user">
        Email address
        <input class="field" type="text" name="email" id="user" autofocus required>
      </label>
            <label for="password">
        Password <span><a href="/forgot-password">Forgot password?</a></span>
        <input class="field" type="password" name="password" id="password" required>
      </label>

            <input class="button" type="submit" value="Sign in">
        </form>
    </div>
    </div>
</body>
<script src="/assets/scripts/sidebarHelper.js"></script>

</html>