<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="./assets/1391017.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Manage Users</title>
</head>
<header class="header-outer">
  <div class="header-inner">
    <div class="header-content responsive-wrapper">

      <!--sidebar navbar-->
      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="overlay-content">
          <a href="/admin">#</a>
         <!--<a href="/new">Write Post</a>--> 
          <!--The button has to behave as a block element--> 
          <div>
             <button type="button" class="addScript">Inject Script</button>
          </div>
        </div>
    </div>

      <!--Top Toolbar-->
      <div class="header-navigation">
        <div class="open_icon" onclick="openNav()">☰</div>
        <img class="blog_icon" src="./assets/icon.svg" alt="blog">
       <!--<i class="fa fa-user userIcon"></i>--> 
        <div class="col-6 col-md-7 sign-out-wrapper clearfix">
          <a href="/logout" class="sign-out pull-right">
        <span>Sign Out</span>
        <i class="fa fa-sign-out"></i>
      </a>
        </div>
      </div>

      <!--popup input-->
      <div class="popup-input">
        <input type="text" class="input" placeholder="Insert Script" name="script" required="">
        <button type="submit" class="btn_save">Save</button>
        <button class="btn_cancel">Cancel</button>
      </div>
    </div>
  </div>
</header>

<body>

<div class="containerSearch">
  <div class="searchContainer">
    <i class="fa fa-search searchIcon" ></i>
    <input class="searchBox" type="search" name="search" placeholder="Search Users ..." />
 </div>
</div>
<div class="body-content body-navigation">
        <!--Side Toolbar-->
      <div class="side-navigation">
        <!--New-->
        <i class="fa fa-plus new" aria-hidden="false" title="Compose"></i>
        <!--Posts-->
        <i class="fa fa-th-list posts" aria-hidden="true" title="Posts"></i>
        <!--users-->
        <i class="fa fa-users users" aria-hidden="true" title="Users"></i>
        <!--scripts-->
        <i class="fa fa-tag scripts" aria-hidden="true" title="Scripts"></i>
      </div>

<div class="_allposts">
 <div class="control-section">
    <table>
      <tr>
        <th><input type="checkbox" class="check-uncheckAll" /></th> 
        <th>Email</th> 
        <th>Created At</th>
        <th style="display: none;"><i class="fa fa-pencil edit" style="margin-left: 2px;"></i></th>
        <th><i class="fa fa-trash remove"id="remove-user" style="margin-left: 2px;"></i></th>
      </tr>
 
      <div class="searchablePosts">
        <% for( var i = 0;i < data.length;i++) { %>
          <% const date = data[i].createdAt %>
          <%const year = date.getFullYear() %>
          <%const month = date.getMonth() + 1 %>
          <%const dt = date.getDay() %>
          <% const monthNames = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"
          ]; %>
          <% const dateNames = ["Sun","Mon","Tue","Wed","Thur","Frid","Sart"]; %>
            <tr>
              <td><input type="checkbox" class="checkbox" id="select-<%=i%>" /></td>  
              <td><label for="select-<%=i%>"><%= data[i].email %></label></td>
              <td><label for="select-<%=i%>"><%- dateNames[dt]+ " " + monthNames[month] + " "+ year %></label></td>                        
              <!--<td>Edit</td>
              <td>Delete</td> -->
            </tr>
          <% } %>
      </div>
    </table>
    </div>
</div>
</div>

</body>
<!--<script src="./assets/sidebarhelper.js"></script>-->
<script src="./assets/update-deletehelper.js"></script>
<script src="./assets/scriptsHandler.js"></script>
</html>