<!DOCTYPE html>
<html lang="en">
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                <meta property="og:type" content="Article" />
                <meta property="og:title" content="<%- data.title %>" />
                <meta property="og:description" content="<%= data.body.substring(3,30) %>"/>
                <meta property="og:image" content="<%- data._imageFromSearch %>" />
                <meta property="og:url" content="<%- data.hostName" %>" />
                <meta property="og:site_name" content="whatspost" />
                <link href="./assets/index.css" rel="stylesheet" type="text/css">
                <link rel="icon" type="image/png" href="./assets/1391017.png"/>
                <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
                <title><%- data.title %></title>
              
        </head>
    <body>
     <section>
        <div class="article">
            <div class="article_title">
             <span><%- data.title %></span><span>  
            </div>
  
             <div class="article_body">
              <%- data.body %>
              </div>
        </div> 
     </section>
    </body>
</html> 