<!DOCTYPE html>
<html lang="US">

<head>
  <title>Write new</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:url" content="/new" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%- siteName %>" />
  <meta property="og:site_name" content="<%- siteName %>" />
  <meta property="og:image" content="/assets/icons/rel_icon.png" />
  <meta property="og:image:alt" content="<%- siteName %>" />
  <meta name="description" content="<%- siteDescription %>" />

  <!--Twitter meta tags-->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kimdennisb" />
  <meta name="twitter:description" content="<%- siteDescription %>" />
  <meta name="twitter:image" content="/assets/icons/rel_icon.png" />

  <link href="/assets/index.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/assets/pell.css">  
  <link rel="icon" type="image/png" href="/assets/icons/rel_icon.png" />
  <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  <script src="/assets/pell.js"></script>

</head>

<body>
  <div class="settingsicon">
  </div>
  <div class="article-settings">
    <h3>Article settings</h3>
    <form method="POST" action="/articleimage" enctype="multipart/form-data">
      <div class="articleimagemain">
        <label class="imagetext">Upload article image</label>
          <input type="file" name="articleimage" accept="image/*" />
          <svg class="remove-image" width="15" height="15" viewBox="0 0 1792 1792"
            xmlns="http://www.w3.org/2000/svg">
            <title>Delete</title>
            <path
              d="M704 1376v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm-544-992h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z">
            </path>
          </svg>

      </div>

    </form>

    <label for="tags">
      Tags
      <input type="text" name="tags" class="tags" />
    </label>
  </div>

  <div class="content">
    <div id="editor" class="pell"></div>

    <div style="margin-top: 20px;display: none;">
      <h3>HTML output:</h3>
      <pre id="html-output"></pre>
    </div>
  </div>

</body>
<script src="/assets/requestsHandler.js"></script>
<script>
  const settings = document.querySelector(".settingsicon");
  const articlesettings = document.querySelector(".article-settings");
  settings.onclick = function () {
    articlesettings.classList.toggle("open");
    this.classList.toggle("open");
  }
  const articleimage = document.querySelector(".articleimagemain");
  const imagetext = document.querySelector(".imagetext")
  const removebackground = document.querySelector(".remove-image");
  removebackground.classList.add("close");
  document.querySelector("input").addEventListener("change", (e) => {
    const image = e.target.files[0];
    const fd = new window.FormData();
    fd.append('articleimage', image);
    fetch("/articleimage", {
      method: "POST",
      body: fd,
    }).then((res) => {
      if (res.ok) return res.json();
    }).then((data) => {
      imagetext.classList.add("close")
      articleimage.style.backgroundImage = `url(${data})`;
      removebackground.classList.remove("close");
    }).catch((error) => {
      console.log(error)
    })
  })
  removebackground.onclick= function() {
    articleimage.style.backgroundImage = "none"
    imagetext.classList.remove("close")
    this.classList.add("close");
  }
</script>

</html>